
 @import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root{
    --primary-color: #28293d;
    --secondary-color: #3a67c8;
    --text-color: #f8fafb;
    

    --paleta-1: #344d89;
    --paleta-2: #ebb894;
    --paleta-3: #e79d2f;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}
    